@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-100 text-gray-900 transition-colors duration-300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

}

body.dark-theme{
    @apply bg-gray-900 text-gray-100;
}

.container{
    @apply max-w-4xl mx-auto px-4;
}